* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mitr", sans-serif;
    background: #eee;
    display: flex;
    justify-content: center;
}

/* กล่องหลัก */
.background {
    background-color: #FFC0CB;
    width: 95%;
    max-width: 500px;
    padding: 30px 20px;
}

/* กล่องหัวบน */
.topbar,
.eattime {
    background-color: #FFCAF7;
    color: #f35eda;
    text-align: center;
    border-radius: 15px;
    border: 2.5px solid #f35eda;
    padding: 10px;
    width: 80%;
    margin: 30px auto;
}

/* กล่องข้อความ */
.desiception {
    background-color: #FFCAF7;
    color: #f35eda;
    border-radius: 20px;
    border: 2.5px solid #f35eda;
    padding: 20px;
    margin: 40px auto;
    width: 90%;
    text-align: center;
}

/* กล่องรูป */
.photo {
    background-color: #FFCAF7;
    border: 2.5px solid #f35eda;
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* รูป */
.photo img {
    width: 120px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 2.5px solid #f35eda;
}